# dependencies
/frontend/node_modules

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# Go
/bin/
/cmd/twins-diff/web/

# Vite build output
/web/dist/
